## Select a house
| HouseID   |   Load        |
|---------  |   ------      |
|64613      |   hot_water   |
|70210      |   pool        |
|70243      |   hot_water   |
|70277      |   hot_water   |
|91912      |   pool        |
|91910      |   hot_water   |

In [1]:
import pandas as pd
import numpy as np
from os import path
from os import getcwd, listdir
current_path = path.split(getcwd())[0]
path_to_data = path.join(current_path, '..', 'data', 'houses')
houses = listdir(path_to_data)
for i, house in enumerate(houses):
    print (i, house)

0 64613.csv
1 69914.csv
2 70177.csv
3 70210.csv
4 70243.csv
5 70277.csv
6 91341.csv
7 91910.csv
8 91911.csv
9 91912.csv
10 97245.csv

In [9]:
df = pd.read_csv(path.join(path_to_data, houses[0]))
df['Location'] = 'Sydney'
df['load_type'] = 'hot_water'
df.to_csv(path.join(path_to_data, houses[0]), index=False)
df = pd.read_csv(path.join(path_to_data, houses[0]))
df

,site_id,reading_datetime,circuit_id,monitors,energy,energy_pos,energy_neg,Location,load_type
0,64613,2019-01-01 00:15:00,70133,ac_load_net,68.1369,68.1369,0.0000,Sydney,hot_water
1,64613,2019-01-01 00:15:00,58075,load_air_conditioner,0.5789,0.5789,0.0000,Sydney,hot_water
2,64613,2019-01-01 00:15:00,58077,load_air_conditioner,0.0472,0.0472,0.0000,Sydney,hot_water
3,64613,2019-01-01 00:15:00,70132,load_hot_water,0.0194,0.0194,0.0000,Sydney,hot_water
4,64613,2019-01-01 00:15:00,58076,load_lighting,8.4467,8.4467,0.0000,Sydney,hot_water
...,...,...,...,...,...,...,...,...,...
1269836,64613,2019-12-31 23:55:00,70173,load_powerpoint,0.4544,0.4544,0.0000,Sydney,hot_water
1269837,64613,2019-12-31 23:55:00,70174,load_powerpoint,0.2033,0.2033,0.0000,Sydney,hot_water
1269838,64613,2019-12-31 23:55:00,58084,load_spa,0.0072,0.0072,0.0000,Sydney,hot_water
1269839,64613,2019-12-31 23:55:00,58085,load_stove,0.1542,0.1542,0.0000,Sydney,hot_water
1269840,64613,2019-12-31 23:55:00,70131,pv_site_net,-0.0578,0.0000,0.0578,Sydney,hot_water

In [8]:
index = 1
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)

,site_id,reading_datetime,circuit_id,monitors,energy,energy_pos,energy_neg,Location,load_type
0,69914,2019-01-01 00:15:00,58078,ac_load_net,16.8622,16.8622,0.0000,Adelaide,NaN
1,69914,2019-01-01 00:15:00,58080,load_air_conditioner,0.3006,0.3006,0.0000,Adelaide,NaN
2,69914,2019-01-01 00:15:00,72317,load_other,0.1867,0.1867,0.0000,Adelaide,NaN
3,69914,2019-01-01 00:15:00,72319,load_refrigerator,9.7156,9.7156,0.0000,Adelaide,NaN
4,69914,2019-01-01 00:15:00,72318,load_stove,0.0444,0.0444,0.0000,Adelaide,NaN
...,...,...,...,...,...,...,...,...,...
633829,69914,2019-12-31 23:55:00,58080,load_air_conditioner,0.2883,0.2883,0.0000,Adelaide,NaN
633830,69914,2019-12-31 23:55:00,72317,load_other,0.1153,0.1153,0.0000,Adelaide,NaN
633831,69914,2019-12-31 23:55:00,72319,load_refrigerator,9.5939,9.5939,0.0000,Adelaide,NaN
633832,69914,2019-12-31 23:55:00,72318,load_stove,0.0419,0.0419,0.0000,Adelaide,NaN
633833,69914,2019-12-31 23:55:00,58079,pv_site_net,-0.1039,0.0000,0.1039,Adelaide,NaN

In [12]:
index = 2
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)


index = 3
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)

index = 4
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)

index = 5
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)

index = 6
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)

index = 7
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)

In [13]:
index = 8
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0.1.1'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)

In [ ]:
index = 9
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0.1.1'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)

index = 10
df = pd.read_csv(path.join(path_to_data, houses[index]))
df.drop(columns=['Unnamed: 0'], inplace=True)
df.to_csv(path.join(path_to_data, houses[index]), index=False)

In [16]:
string = 'hello world'
print(type(string) == str)

True